@model kpiMvcApi.DataTransferObjects.KvpDataDtoRs
@using kpiMvcApi.DataTransferObjects;

<script>
    var barChartData =
        {
            type: 'bar',
            data:
            {
                labels: @Html.Raw(Model.getDataset(KvpDataDtoRs.charttype.KvpMonthChart, KvpDataDtoRs.dataset.Datalabels, "MMMM")),
                datasets:
                [
                    {
                        label:@Html.Raw(Model.getDatasetLabel()),
                        backgroundColor: @Html.Raw(Model.getDatsetBackroundColor()),
                        borderWidth: 2,
                        data:@Html.Raw(Model.getDataset(KvpDataDtoRs.charttype.KvpMonthChart, KvpDataDtoRs.dataset.dataset1, "MMMM")),
                    }
                ],
            },
            options:
            {

                title:
                {
                    display: true,
                    text: @Html.Raw(Model.getChartTitle()),
                },
                responsive: true,
                maintainAspectRatio: true
            }
        };
    var barChartData2 = 
        {
            type: 'radar',
            data:
            {
                labels: @Html.Raw(Model.getDataset(KvpDataDtoRs.charttype.KvpClassChart, KvpDataDtoRs.dataset.Datalabels, "")),
                datasets:
                [
                    {
                        label:@Html.Raw(Model.getDatasetLabel()),
                        backgroundColor: @Html.Raw(Model.getDatsetBackroundColor()),
                        borderWidth: 2,
                        data:@Html.Raw(Model.getDataset(KvpDataDtoRs.charttype.KvpClassChart, KvpDataDtoRs.dataset.dataset1, "")),
                    }
                ],
            },
            options:
            {

                title:
                {
                    display: true,
                    text: @Html.Raw(Model.getChartTitle()),
                },
                responsive: true,
                maintainAspectRatio: true
            }
        };

    // Draws the Diagram
    $(document).ready(function () {

        var ctx1 = document.getElementById("chartcanvas1").getContext("2d");
        window.myBar = new Chart(ctx1, barChartData);

        var ctx2 = document.getElementById("chartcanvas2").getContext("2d");
        window.myBar = new Chart(ctx2, barChartData2);
    });


</script>

<<div class="ui container">
    <h1>KVP Data</h1>
    <div class="ui two column doubling stackable grid container">
        <div class="column">
            <div style="width: 100%;">
                <canvas id="chartcanvas1"></canvas>
            </div>
        </div>
        <div class="column">
            <div style="width: 100%;">
                <canvas id="chartcanvas2"></canvas>
            </div>
        </div>
    </div>

    <div class="ui inverted segment" style="width: 40%;">
        <div class="ui inverted relaxed divided list">
            @foreach (var mdl in Model.getKvpList())
            {
                <div class="header">@mdl.KvpName</div>
                @Html.Raw("Zuordnung: " + mdl.KvpClassName.ToString() + "&nbsp;&nbsp;&nbsp; Status: " + mdl.KvpStateName.ToString())
            }
        </div>
    </div>
</div>

