@model kpiMvcApi.DataTransferObjects.ProductionDataDtoRs
@using kpiMvcApi.DataTransferObjects;

<script>
    var barChartData =
        {
            type: 'bar',
            data:
            {
                labels: @Html.Raw(Model.getChartLabels()),
                datasets:
                [
                    {
                        label:@Html.Raw(Model.getDatasetLabel()),
                        backgroundColor: @Html.Raw(Model.getDatsetBackroundColor()),
                        borderWidth: 2,
                        data:@Html.Raw(Model.getDataset()),
                    }
                ],
            },
            options:
            {
                title:
                {
                    display: true,
                    text: @Html.Raw(Model.getChartTitle()),
                },
                responsive: true,
                maintainAspectRatio: true
            }
        };
        var pieChartData =
        {
            type: 'pie',
            data:
            {
                labels: @Html.Raw(Model.getDataset(ProductionDataDtoRs.charttype.Prolinechart, ProductionDataDtoRs.dataset.Datalabels)),
                datasets:
                [
                    {
                        label:@Html.Raw(Model.getDatasetLabel()),
                        backgroundColor: @Html.Raw(Model.getDatsetBackroundColor()),
                        borderWidth: 2,
                        data:@Html.Raw(Model.getDataset(ProductionDataDtoRs.charttype.Prolinechart, ProductionDataDtoRs.dataset.dataset1)),
                    }
                ],
            },
            options:
            {

                title:
                {
                    display: true,
                    text: @Html.Raw(Model.getChartTitle()),
                },
                responsive: true,
                maintainAspectRatio: true
            }
        };
    $(document).ready(function () {
        var ctx1 = document.getElementById("chartcanvas1").getContext("2d");
        window.myBar = new Chart(ctx1, barChartData);

        var ctx2 = document.getElementById("chartcanvas2").getContext("2d");
        window.myPolarArea = new Chart(ctx2, pieChartData);

        $('.ui.accordion').accordion();
        $('.ui.accordion').accordion('toggle', $(this).index());

    });
</script>

<<div class="ui container">
    <h1>Production Data</h1>
    <div class="ui two column doubling stackable grid container">
        <div class="column">
            <div style="width: 100%;">
                <canvas width="600" height="400" id="chartcanvas1"></canvas>
            </div>
            <div class="ui inverted segment">
                <div class="ui inverted accordion">
                    <div class="title">
                        <i class="dropdown icon"></i>
                        Datatable
                    </div>
                    <div class="content">
                        @using (Html.BeginForm("ProdDataToExcel", "Export", FormMethod.Post))
                        {
                            <button type="submit" class="ui compact icon green button" id="btnExcelDownload">
                                <i class="file excel outline icon"> </i>
                            </button>

                            <table class="ui sortable celled small table">
                                <thead>
                                    <tr>
                                        <th class="sorted ascending">Id</th>
                                        <th class="sorted ascending">Date</th>
                                        <th class="">Quantity</th>
                                        <th class="">Price</th>
                                        <th class="">Pcb Class</th>
                                        <th class="">Pcb Generation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var mdl in Model.getData())
                                    {
                                        <tr>
                                            <td>@mdl.PcbDailyId</td>
                                            <td>@mdl.ProductionDay</td>
                                            <td>@mdl.PcbQuantity</td>
                                            <td>@mdl.PcbSumPrice CHF</td>
                                            <td>@mdl.PcbClassName</td>
                                            <td>@mdl.PcbGenerationName</td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <br />

                                            <br />

                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div style="width: 100%;">
                <canvas width="600" height="400" id="chartcanvas2"></canvas>
            </div>
        </div>
    </div>
</div>
