@{
    Layout = "~/Views/Shared/_LayoutRoot.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <script>
        var barChartData = {
            @using kpiMvcApi.DataTransferObjects
            labels: @Html.Raw("['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange']"),
            datasets: [{
                label: 'ProductWise Sales Count',
                backgroundColor: [
                    "#f990a7",
                    "#aad2ed",
                    "#9966FF",
                    "#99e5e5",
                    "#f7bd83",
                     ],
                    borderWidth: 2,
                    data:  @Html.Raw("[12, 19, 3, 5, 2, 3]"),
                 }]
            };
        window.onload = function () {
            var ctx1 = document.getElementById("barcanvas").getContext("2d");
            window.myBar = new Chart(ctx1,
                {
                    type: 'bar',
                    data: barChartData,
                    options:
                        {
                            title:
                            {
                                display: true,
                                text: "ProductWise Sales Count"
                            },
                            responsive: true,
                            maintainAspectRatio: true
                        }
                });
        }
    </script>
</head>
<body>
    <div class="ui left vertical inverted sidebar labeled icon blue menu">
        <a class="item">
            <i class="home icon"></i>
            Home
        </a>
        <a class="item">
            <i class="block layout icon"></i>
            Topics
        </a>
        <a class="item">
            <i class="smile icon"></i>
            Friends
        </a>
    </div>
    <div>
        <button class="ui compact icon blue button" id="btnSidebar">
            <i class="sidebar icon"> </i>
        </button>
        <h1>HelloWorld</h1>
        @using (Html.BeginForm("ExportToExcel", "Home", FormMethod.Post))
        {
            <table class="ui sortable celled table">
                <thead>
                    <tr>
                        <th class="sorted ascending">Id</th>
                        <th class="">Label</th>
                        <th class="">Data</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ddata in ViewBag.diagramData.DiagramDataRepo)
                    {
                        <tr>
                            <td>@ddata.DiagramDataId</td>
                            <td>@ddata.DiagramDataLabel</td>
                            <td>@ddata.DiagramData</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <br />
                            <br />
                            <button type="submit" class="ui compact icon green button" id="btnExcelDownload">
                                <i class="file excel outline icon"> </i>
                            </button>
                         </td>
                    </tr>
                </tfoot>
            </table>
        }
        <div style="text-align: center">
            <canvas id="barcanvas"></canvas>
        </div>
    </div>
</body>
</html>
